{% extends 'base.html.twig' %}

{% block title %}New Matchday{% endblock %}

{% block content %}
    <h1>Create new Matchday</h1>

    {{ include('matchday/_form.html.twig') }}

    <a href="{{ path('app_matchday_index') }}">back to list</a>
{% endblock %}
