{% extends 'base.html.twig' %}

{% block content %}
    <br>
    <ul class="ul_principles">
    {% for principle in principles %}
            <li class="ul_principles">{{ loop.index }} . {{ principle }}</li>
    {% endfor %}
    </ul>

{% endblock %}