{% extends 'base.html.twig' %}

{% block content %}
 
    <table>
    {% for key,record in records %}
        <tr>
            <td>{{ key }} : {{ record }}</td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}