<form method="post" action="{{ path('meet_delete', {'id': meet.id}) }}" onsubmit="return confirm('Jesteś pewien że chcesz usunąć ten mecz?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ meet.id) }}">
    <button class="btn">Usuń mecz</button>
</form>
