{% extends 'base.html.twig' %}

{% block title %}Aktualizacja{% endblock %}

{% block content %}
    <h1>Aktualizacja</h1>

    {{ include('meet/_form.html.twig', {'button_label': 'Aktualizuj'}) }}

    <a href="{{ path('meet_index') }}">Powrót do listy</a>

    {{ include('meet/_delete_form.html.twig') }}
{% endblock %}
