{% extends 'base.html.twig' %}

{% block title %}New Meet{% endblock %}

{% block body %}
    <h1>Create new Meet</h1>

    {{ include('meet/_form.html.twig') }}

    <a href="{{ path('app_meet_index') }}">back to list</a>
{% endblock %}
