body.main_body{
    position:relative;
    margin:0 auto;
    background-color: black;
}

table.login_table {
    /*background-color: green ;*/
    border-collapse:collapse;
    margin: 1%;
    text-align: left;
}

tr.login_tr {
    background-color: green;
    text-align: left;
}

td.login_td {
    text-align:left;
}

#header_01{
    z-index: 1;
    width: 100%;
    height: 250px;
    background-color: white;
}

#header_01 > img {
    width: 100%;
    height: 100%;
}

#info_02{
    z-index: 2;
    width:100%;
    height:40px;
    text-align: center;
    background-color: white;
}

div.username{
    width: 30%;
    background-color: white;
    float: left;
}

div.matchweek{
    width: 40%;
    background-color: white;
    float: left;
}

div.matchweek_small{
    width: 100%;
    background-color: white;
}

div.empty{
    width: 30%;
    background-color: white;
    float: left;
}

#menu_03{
    z-index: 4;
    background-color:black;
    width:100%;
    text-align: center;
}

ul.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

ul.navigation li {float: left;}

ul.navigation li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 13px;
    font-weight: bold;
}

ul.navigation li a:hover {background-color: #555;}

ul.navigation li.icon {display: none;}


@media screen and (max-width:680px) {
    ul.navigation li:not(:first-child) {display: none;}
    ul.navigation li.icon {
      float: right;
      display: inline-block;
    }
}

@media screen and (max-width:680px) {
    ul.navigation.responsive {position: relative;}
    ul.navigation.responsive li.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    ul.navigation.responsive li {
      float: none;
      display: inline;
    }
    ul.navigation.responsive li a {
      display: block;
      text-align: left;
    }
}

/* content */
#content_04{
    z-index: 3;
    width:100%;
    min-height:200px;
    background-color: white;
}

div.div_login{
    padding-top: 40px;
    text-align: center;
}

div.div_change_pass_box{
    width:40%;
    height: 100px;
    /*background-color: green;*/
    float: left;
}

div.div_change_pass_box_small_screen{
    width:5%;
    height: 100px;
    /*background-color: green;*/
    float: left;
}


div.div_change_pass{
    padding-top: 40px;
    text-align: left;
    width: 50%;
    height: 100px;
    /*background-color: red;*/
    float: left;
}



div.forum_panel{
    overflow-y: scroll;
    height: 200px;
    width: 100%;
}

div.forum_list_of_comments{
    margin: 20px;
    /*background-color: grey;*/
}

div.new_comment_left{
    float: left;
    padding: 0;
    margin: 0;
    width: 100%;
}

p.new_comment_left{
    float: left;
    text-align: left;
    max-width: 600px;
    padding: 0;
    margin: 0;
}

div.div_date_left{
    float: left;
    padding: 0;
    margin: 0;
    width: 100%;
}

div.div_date_right{
    float: right;
    padding: 0;
    margin: 0;
    width: 100%;
}

p.left_date{
    float: left;
    font-size: xx-small;
    /*background-color: grey;*/
    display: block;
}

p.error_page{
    text-align: center;
}

p.right_date{
    float: right;
    font-size: xx-small;
    /*background-color: grey;*/
    display: block;
}

div.new_comment_right{
    float: left;
    padding: 0;
    margin: 0;
    width: 100%;
}

p.new_comment_right{
    float: right;
    text-align: right;
    max-width: 600px;
    padding: 0;
    margin: 0;
}

div.forum_comment{
    width:100%;
    /*height: 100px;*/
}

div.forum_form{
    width:100%;
    text-align: center;
}

b.red{
    color: red;
}

textarea{
    resize: none;
    width: 100%;
}

div.forum_textarea{
    width:100%;
    position:relative;
}

ul.ul_principles{
    list-style-type: none;
}

/* belka informacyjna */
#info_bar_05{
    z-index: 5;
    width:100%;
    min-height: 20px;
    height: 100%;
    background-color: white;
}

#logged_users_06{
    z-index: 6;
    width:100%;
    height: 20px;
    background-color: grey;
    color: green;
    font-size: small;
    text-align: center;
}

/* stopka */
#footer_07{
    z-index: 7;
    width:100%;
    background-color: black;
    height: 100%;
    min-height: 200px;
/*    max-height: max-content;*/
    text-align: center;
    padding-top: 10px;
}

a.a_footer{
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    padding: 14px 16px;
}

/* USTAWIENIA DLA KAŻDEGO EKRANU   */

table.tab_types {
    width: 100%;
    /*border-collapse: collapse;*/
}

tr.tab_types_row_2 {
    height: 50px;
}

td.type_type2{
    padding: 0;
}

/* 2 pkt */
div.type_type_div1{
    width: 100%;
    /*color: red;*/
    font-weight: bolder;
    background-color: yellow;
}

/* 4 pkt */
div.type_type_div3{
    width: 100%;
    /*color: blue;*/
    font-weight: bolder;
    background-color: springgreen;
}

div.type_type_div2{
    width: 100%;
    text-align: right;
    font-size: x-small;
}

div.type_type_div4{
    width: 100%;
}

div.type_type_div5{
    width: 100%;
    background-color:black;
    color: white;
}

th {
    background: #333;
    color: white;
    font-weight: bold;
}

td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: center;
}

input[type="text"].tp {
    width: 10px;
}

input[type="text"].input_comment{
    width: 50%;
}

tr:nth-of-type(odd) {
    background: #eee;
}

tr:nth-of-type(odd).login_tr {
    background-color: green;
}

td.team_fullname,td.team_shortname,td.rank_username{
    text-align: left;
}

td.table_loop{
    width: 1%;
}

td.table_username{
    text-align: left;
    width: 15%;
    height: 60px;
}

div.table_username_username {
    position:relative;
    text-align: left;
    width: 100%;
    height: 40px;
    /*background-color: red;*/
}

div.table_username_ranking {
    text-align: right;
    width: 100%;
    height: 20px;
    font-size: xx-small;
    /*background-color: blue;*/
}

div.table_username_username > span {
    position:absolute;
    bottom:0;
    left:0;
}


div.table_username_div{
    width: 50%;
    height: 30px;
    float:left;
    background-color: red;
}

td.table_pkt{
    width: 5%;
}

td.table_sum{
    width: 9%;
    background-color: grey;
}

div.list{
    clear: both;
    display: block;
    width: 100%;
    text-align: center;
    font-size: x-small;
}

p.p_log_user,p.queque_number{
    padding: 0;
    margin: 0;
}

td.team_name_2{
    text-align: left;
}

div.team_name_2_div_1{
    float:left;
    width: 100%;
    text-align: left;
}

div.team_name_2_div_2{
    float:left;
    width: 100%;
    text-align: right;
    font-size: x-small;
}

td.team_name{
    text-align: center;
}

td.league{
    width: 23%;
}

td.team_name{
    width: 24%;
}

td.team_name_short{
    width: 45%;
}

td.user_type{
    width: 2%;
}

td.gap{
    width: 2%;
}

td.term{
    width: 23%;
}

p.button_send{
    text-align: center;
    margin: 0;
    padding: 0;
}

th.team_score{
    color: grey;
}

td.team_score{
    background-color: grey;
}

a:link.history_season_big_screen{
    color: black;
}

a:link.history_season_small_screen{
    color: black;
}

a:visited.history_season_big_screen{
    color: black;
}

a:visited.history_season_small_screen{
    color: black;
}

a:link.type_matchday_big_screen{
    color: black;
}

a:link.type_matchday_big_screen{
    color: black;
}

a:visited.type_matchday_big_screen{
    color: black;
}

a:visited.type_matchday_big_screen{
    color: black;
}

/* USTAWIENIA DLA DUŻEGO EKRANU   */

@media screen and (min-width:680px) {

    td.team_shortname,a.type_matchday_small_screen,
    a.history_season_small_screen,
    div.div_change_pass_box_small_screen,
    td.team_name_short,td.team_name_short_2,img.img2,
    td.user_type_short,td.type_type_short, th.team_score_short, div.matchweek_small, div.tab_types2{
        display: none;
    }

}

@media screen and (min-width:1130px) {
    th.team_matchday_short,th.team_user_shortname,td.type_type_short{
        display: none;
    }
}

@media screen and (max-width:1130px) {
    th.team_matchday,th.team_user{
        display: none;
    }
}

/* USTAWIENIA DLA MAŁEGO EKRANU   */

@media (max-width: 768px) {
    div {
        background-position: center top;
    }
}

@media screen and (max-width:680px) {

    /* niewidoczne */
    th.type_desc,th.type_term,th.type_gap,
    td.gap,td.term,
    td.league,td.team_fullname,
    a.type_matchday_big_screen,
    a.history_season_big_screen,
    td.rank_seasons,td.rank_queue,td.rank_total,
    td.rank_match_2,td.rank_match_4,
    th.th_rank_seasons,th.th_rank_queue,
    th.th_rank_match_2,th.th_rank_match_4,
    th.th_rank_total,th.th_rank_pkt,td.rank_ptk,
    th.th_rank_eightplaces,th.th_rank_fiveplaces,
    th.th_rank_fourthplaces,th.th_rank_nineplaces,
    th.th_rank_others,
    th.th_rank_seventhplaces, th.th_rank_sixthplaces,
    th.th_rank_tenplaces,
    td.rank_fiveplaces, td.rank_eightplaces,
    td.rank_fourthplaces,td.rank_nineplaces,
    td.rank_others, td.rank_seventhplaces,
    td.rank_sixthplaces, td.rank_tenplaces,
    td.table_pkt,
    td.team_name,td.team_name_2,img.img1,
    div.div_change_pass_box,
    th.th_table_pkt,p.p_log_user,p.queque_number,
    td.user_type_2, td.team_name, th.team_score, div.username,div.matchweek,div.typeweek,div.empty, table.tab_types3{
        display: none;
    }

    td.team_shortname,th.team_user_shortname, th.team_matchday_short,
    td.team_name_short_2,td.team_name_short,td.user_type_short,
    td.type_type_short, th.type_guest, th.type_host, div.team_score_2_div_1{
        font-size: xx-small;
    }

    li.ul_principles{
        padding: 0px 30px 0px 0px;
    }


}

p.notification_error{
    text-align: center;
    padding: 0;
    margin: 0;
    padding-top: 30px;
}

label.login_username {
    color: red;
}

div.tab_types2 {
    padding-top: 10px;
    padding-left: 10px;
    width: 100%;
    height: 350px;
    /*background-color: red;*/
    /*border: 4px solid;*/
    /*border-collapse: collapse;*/
}

table.tab_types3 {
    width: 100%;
    /*border-collapse: collapse;*/
}

th.team_user,th.team_user_shortname,th.team_matchday,th.team_matchday_short, th.team_score {
    font-size: xx-small;
}

img.table_img_korona {
    height: 10px;
    width: 20px;
}

img.table_img_puchar {
    height: 10px;
    width: 20px;
}

.custom-error-message {
    color: red;
}

/* Siatka sezonów */
.seasons-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* <-- kluczowa zmiana */
    gap: 8px 12px;
    margin-top: 10px;

}

/* Pojedynczy sezon – 5 kolumn na dużym ekranie */
.season-item {
    width: calc(20% - 12px); /* 5 w rzędzie */
}

/* Link w środku */
.season-item a {
    display: block;
    padding: 6px 8px;
    background: #f3f3f3;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.season-item.empty {
    visibility: hidden;
}


/* Wersja mobilna – 2 kolumny */
@media (max-width: 600px) {
    .season-item {
        width: calc(50% - 12px); /* 2 kolumny na mobile */
    }
}


@media screen and (max-width: 680px) {
    /* Rozciągnięcie tabeli na całą szerokość */
    .tab_types2 {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        width: 100%;
        box-sizing: border-box;
    }

    .tab_types2 table {
        flex: 1 0 auto;
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
    }

    .tab_types2 td,
    .tab_types2 th {
        padding: 2px !important;
        margin: 0 !important;
        font-size: xx-small !important;
        height: 30px;
        text-align: center;
        vertical-align: middle;
        box-sizing: border-box;
    }

    .tab_types2 tr {
        height: 30px;
    }

    .tab_types2 div {
        padding: 0 !important;
        margin: 0 !important;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: xx-small;
        box-sizing: border-box;
    }

    .tab_types2 p {
        margin: 0 !important;
        padding: 0 !important;
        font-size: xx-small;
        line-height: 1em;
        text-align: center;
    }

    /* Wyrównanie pionowe nazw graczy */
    .tab_types2 table:first-child td {
        height: 30px;
        vertical-align: middle;
    }

    /* Wyrównanie pionowe nazw meczów */
    .tab_types2 table tr:first-child td div {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* podświetlanie wybranego sezonu */
.season-item.selected a {
    background: yellow;
    color: black;
    font-weight: 700;
    border: 2px solid #d4b300;
}
